html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  overscroll-behavior: none;
}

.container {
  padding: 0 80px;
  background: linear-gradient(90deg, rgb(230, 242, 255) 0%, rgb(247, 247, 247) 50%, rgba(0, 119, 204, 0.52) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  color: #003366;
  background-color: transparent;
}
header a {
  font-size: 16px;
  color: #003366;
  padding: 1.5rem;
  transition-duration: 0.4ms;
}
header a:hover {
  color: #0077cc;
}
header a:last-child {
  background-color: #0077cc;
  color: #ffffff;
  border-radius: 0.4rem;
}
header .hamburger {
  display: none;
  cursor: pointer;
}
header .hamburger span {
  display: block;
  width: 25px;
  height: 5px;
  background-color: #003366;
  margin: 5px auto;
  transition: all 0.4ms ease;
  border-radius: 15%;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h2 {
  display: block;
  color: #003366;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
}
.hero p {
  color: #003366;
  font-size: 24px;
}

section.how {
  min-height: 100vh;
}
section.how .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.how h2 {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  display: block;
  color: #003366;
}
section.how .card .title {
  font-size: 5rem;
  font-weight: bold;
  color: #003366;
}
section.how .card .description {
  font-size: 16px;
  color: #003366;
  line-height: 1.2rem;
  text-align: center;
}

form {
  padding: 1.4em;
  border-radius: 15%;
  background-color: #ffffff;
}
form .form-group {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .form-group label {
  color: #003366;
  margin-left: 2rem;
}
form .form-group input,
form .form-group select,
form .form-group textarea {
  padding: 8px;
  border-radius: 12px;
  margin-right: 2rem;
  outline: none;
  border: solid #0077cc 2px;
}
form .form-group textarea {
  resize: vertical;
}
form button.btn-submit {
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.4rem;
  display: block;
  margin: 2rem auto;
  font-weight: bold;
  color: #ffffff;
  background-color: #0077cc;
  outline: none;
  border: none;
  cursor: pointer;
}

footer {
  padding: 0 80px;
  background-color: #003366;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 878px) {
  .container {
    padding: 0;
  }
  header {
    padding: 0 10%;
  }
}
@media (max-width: 1067px) {
  .hamburger {
    display: block !important;
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .nav-links {
    z-index: 999;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #003366;
    text-align: center;
    transition: 0.4ms;
    height: 100vh;
    width: 100%;
    max-width: 450px;
  }
  .nav-links a#contact-btn {
    background-color: #ffffff;
    color: #003366;
  }
  .nav-links a#contact-btn:hover {
    color: #0077cc;
  }
  .nav-links.active {
    left: 0;
  }


  .hero h2, .how h2 {
    font-size: 4rem;
  }
  p.description {
    text-align: center;
  }
  .how .cards {
    flex-direction: column;
  }
  .how .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
   .form-group input,
 .form-group select,
 .form-group textarea,
 .form-group label {
    margin: 0 !important;
}
.form-group label {margin-bottom: 1rem !important;}
}/*# sourceMappingURL=rdv.css.map */
