.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #ffffffff; */
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar a {
  font-size: 14px;
  color: #003366;
  padding: .5rem;
  transition-duration: 0.4ms;
}
.sidebar a:hover {
    color: #0077cc;
}
main {
    margin-left: 160px;
    padding: 0 10px;
}
